*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
 font-family: 'PT Sans', sans-serif;
 
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 1004px;
  height: 52px;
  padding: 10px;
  margin: 15px;
}

.cartImg {
  width: 51px;
  height: 35px;
  border-radius: 5px;
}

.minus, .plus, .del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid #1D1818;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  font-size: 30px;
}

.del{
  border: none;
  color: #999999
}

.name {
  width: 444px;
  font-size: 18px;
}

.price {
  width: 209px;
  text-align: center;
  font-size: 22px;
}

section {
  width: 80%;
  margin: auto;
}